body{background: rgb(255, 240, 254);}
p{background: lavender;}
b{color: blue;}
h3 {
  text-align: center;
  color: red;
}
.cont{display: flex;
        
        }
.colortext{color: rgb(104, 3, 151)}
.bgcolor{background-color: yellow;}