body{background: rgb(174, 255, 178);}

p{background: lavender;
padding: 10px;
margin-left: 10px;
}


b{color: blue;}

h1 {
  text-align: center;
  color: red;
}

h2, h3{
  text-align: center;
  color: rgb(234, 0, 255);
}

.cont{display: flex;}

.bgcolor{background-color: yellow;}

#zadanie{
    text-align: left;
}

#bigtxt{
    font-size: 16px;
}